* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: skyblue;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(35, 1fr);
  grid-template-rows: repeat(25, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80%;
}


footer {
  height: 20%;
  background-color: rgb(54, 49, 49);
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.footer_div1 {
    display: flex;
    gap: 15px;
}

.footer_div2 {
  font-size: 2em;
  border: 1px solid gray;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 20px;
}

footer img {
  height: 55px;
  width: 55px;
}

.sky {
  background-color: skyblue;
}

.land {
  background-color: burlywood;
}

.rock {
  background-color: gray;
}

.borderHover:hover {
  border: 2px solid white;
}

.footer_div2:active {
  transform: scale(0.95);
}

.footer_div2:hover {
  background-color: rgb(59, 58, 58);
  border: 2px solid gray;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 9999; /* הכי גבוה שיש */
    left: 0; top: 0; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #2c3e50;
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 4px solid #ecf0f1;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.inventory-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.inv-slot {
    background: #34495e;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #7f8c8d;
}

.icon { width: 30px; height: 30px; margin-bottom: 5px; }
.land-icon { background-color: burlywood; }
.rock-icon { background-color: gray; }

.close-btn {
    float: right;
    font-size: 24px;
    cursor: pointer;
    color: #bdc3c7;
}

.wood {
    background-color: #5d4037; /* חום כהה לגזע */
}

.leaves {
    background-color: #2e7d32; /* ירוק לעלים */
}